.first-heading{
    text-align: center;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    margin: 0;
    background-color: silver;
}
.button{
    text-decoration: none;
    color:whitesmoke;
    border: 2px solid black;
    padding: 10px 10px 20px;
    background-image: linear-gradient(grey,black);
}
.head-line-bg{
    background-color: rgb(97, 89, 89);
    padding: 10px 10px 10px;
    color: white;
    
}
.blog-p{
    margin-bottom: 50px;
}

    .topnav {
        background-color:gray;
        overflow: hidden;
      }
    .topnav a {
        float:left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        overflow: hidden;
      
      }
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
      }
      .first-part{
    
          display: flex;
          width: 100%;
      }
      .first-part img{
          width: 90%;
          margin-top: 30px;
          
          padding: 10px 10px 20px;
        
          
      }
      .first-part-blog{
          padding: 10px 20px 40px;
          margin:20px
          }
          
          #packages{
              margin: 50px;
              margin-bottom: 50px;
              margin-left: 5%;
              margin-right: 80%;
              padding: 2px;
              color: black;
            box-shadow: 10px 10px 20px white;
            border-radius: 2px;
          }
          .package-style{
            
          background-color:white;
              
          width: 100%;
          margin-left: 5%;
          margin-right: 5%;
          padding: 20px;
          box-shadow: 10px 10px 40px black;
          border-radius: 20px;
          margin-bottom: 20px;
       }
          #indo{
            width: 100%;
            height: auto;
            
          }
          .second-blog{
              margin-right: 20%;
              margin-left: 10%;
          }
          #form{
            margin-left: 10%;
            margin-top: 20px;
            background-color:white;
              
          width: 20%;
          margin-left: 10%;
          margin-right: 5%;
          padding: 20px;
          box-shadow: 10px 10px 40px black;
          border-radius: 20px;
          margin-bottom: 20px;

          }
          footer{
            margin-top: 50px;
            text-align: center;
          }

